@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media (min-width: 992px) {
    
}

@media (max-width: 991px) {
    .navbar-nav .nav-link {
        background-color:#f1f1f1; /* Mobil arka plan rengi */
    }
    .navbar-collapse{
        background-color: #f1f1f1;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.backtotop{
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #f5f5f5;
    z-index: 100;
    position: sticky;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}


nav img{
    margin: 1rem 2rem 1rem 10%;
}

nav button {
    margin: 1rem 5%;
}

.nav-item{
    margin-left: 15%;
    font-weight: 600;
}

.nav-link:hover{
    border-bottom-style: solid;
    border-width: 3px;
    border-radius: 10%;
    font-weight: 700;
    box-shadow:
        0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
}

.home{
    text-align: center;
    padding: 20px 0;
}

.home img {
    width: 90%;
    max-width: 75vw;
    display: block;
    margin: 0 auto;
}

.home h1{
    margin: 1rem;
}

.corba{
    padding: 1rem;
}

.icerik{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.icerik .card{
    width: 100%;
    margin: .7rem 0;
    box-shadow:
        1.6px 1.6px 1.2px rgba(0, 0, 0, 0.07),
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.055),
        5.8px 5.8px 4.6px rgba(0, 0, 0, 0.048),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.039),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.035),
        25.1px 25.1px 20.1px rgba(0, 0, 0, 0.031),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.027),
        56.3px 56.3px 45px rgba(0, 0, 0, 0.022),
        100px 100px 80px rgba(0, 0, 0, 0.015);
}

.aciklama{
    justify-content: center;
}

.altcizgi{
    text-decoration: underline;
}

.red{
    color: red;
    font-weight: 700;
}

.card-body div{
    margin: auto 0;
}

.footer{
    background-color: #f5f5f5;
    padding: 1rem 1rem;
    text-align: center;
    box-shadow:
        20px -20px 60px #d0d0d0,
        -20px 20px 60px #f0f0f0;
}

.sosyal-medya a{
    display: inline-grid;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid #323946;
    border-radius: 50%;
    font-size: 1.7rem;
    color: #323946;
    margin: 1rem 0.6rem 1rem 0;
    text-decoration: none;
    transition: .40s ease;
}

.sosyal-medya a:hover {
    background: #323946;
    color: #f7f7f7;
    box-shadow: 0 0 1rem #323946;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
}

.slider{
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    width: %95;
    border-radius: 20px;
    overflow: hidden;
}

.slides{
    width: 500%;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FF5733;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #FF5733;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-bottom: 40px;
}

.navigation-auto div{
    border: 2px solid #FF5733;
    border-radius: 10px;
    padding: 5px;
    transition: .5s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #FF5733;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #FF5733;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #FF5733;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #FF5733;
}